.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 92px;
}

@media screen and (max-width: 1265px) {
    .photo-grid {
        max-width: 90.6%;
        gap: 14px;
    }
    
}

@media screen and (max-width: 1152px) {
    .photo-grid {
        max-width: 98%;
        gap: 14px;
    }
    
}

@media screen and (max-width: 896px) {
    .photo-grid {
        max-width: 93.7%;
        gap: 14px;
        padding-bottom: 88px;
    }
    
}

@media screen and (max-width: 540px) {
    .photo-grid {
        max-width: 90%;
        gap: 12px;
        padding-bottom: 64px;
    }
    
}