.places {
  max-width: 984px;
  padding-bottom: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 90.6%;
    }
}

@media screen and (max-width: 1023px) {
    .places {
       max-width: 93.7%;
       padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .places {
       max-width: 100%;
       padding-bottom: 64px;
    }
}