.places {
    max-width: 984px;
   /* min-height: 3392px;*/
    /*margin-left: 72px;
    margin-right: 224px;
    margin-bottom: 124px;
    display: flex;
    flex-direction: column;*/
    margin-left: 72px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 124px;
}



@media screen and (max-width: 1152px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 92px;
    }
    
}

@media screen and (max-width: 896px) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 90px;
    }
    
}


@media screen and (max-width: 540px) {
    .places {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 66px;
    }
    
}