.intro__text {
    max-width: 690px;
    min-height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top: 40px;
    margin-bottom: 33px;
    margin-left: 0px;
}



@media screen and (max-width: 896px) {
    .intro__text {
        max-width: 720px;
        min-height: 208px;
       
    }
    
}

@media screen and (max-width: 540px) {
    .intro__text {
        max-width: 288px;
        min-height: 520px;
        margin-bottom: 34px;


    }
    
}