.intro {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 48px 92px;
}

@media screen and  (max-width: 1152px) {
    .intro {
        max-width: 690px;
        margin: 0;
    }
    
}

@media screen and (max-width: 896px) {
    .intro {
     padding: 0 24px 88px;
     max-width: 720px;
    }
    
}

@media screen and (max-width: 540px) {
    .intro {
        max-width: 288px;
        padding: 0 16px 64px;
    }
    
}

