.content__section {
    margin-bottom: 92px;
}

@media screen and (max-width: 896px) {
    .content__section {
        margin-bottom: 88px;
    }
    
}


@media screen and (max-width: 540px) {
    .content__section {
        margin-bottom: 64px;
    }
    
}

/*Нужно разобраться с предпоследней секцией, по макету везде другой отступ*/